[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sparganothis-vim = "*"
gymnasium = "*"
numpy = "<2"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
